#profileform{
  max-width: 100%;
  margin: 25px auto;
  height: auto;
  position: relative;
  zoom: 1;
  top: 55px;
  .left_form{
    float: left;
    width: 27%;
    border-right: 2px solid #09aacc;
    background: #F1F1F1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    .gravatar_edit{
      text-align: center;
      img{
        margin-top: 5px;
        border-width: 5px;
        border: 4px solid #09aacc;
      }
    }
    .information{
      text-align: center;
      .name{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px;
      }
      .email{
        font-family: "News706BT-RomanC", Georgia;
        font-size: 20px;
      }
    }
  }
  .right_form{
    float: right;
    background: lightblue;
    margin-left: 5px;
    width: 72%;
    background: #F1F1F1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    .timeline {
      list-style: none;
      li{
        margin-bottom: 60px;
        overflow: hidden;
        margin: 0;
        position: relative;
        .timeline-date {
          width: 110px;
          float: left;
        }
        .timeline-content {
          width: 75%;
          float: left;
          border-left: 3px #e5e5d1 solid;
          padding-left: 30px;
        }
        .timeline-content:before {
          content: "";
          width: 12px;
          height: 12px;
          background: #6fc173;
          position: absolute;
          left: 106px;
          top: 24px;
          border-radius: 100%;
        }
      }
    }
  }
}
#profileform:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
#clearfix{
  visibility: hidden;
}

#follow-users {
  li {
    list-style: none;
    margin: 5px;
  }
  float: right;
  background: lightblue;
  margin-left: 5px;
  width: 72%;
  background: #F1F1F1;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  .timeline {
    list-style: none;
    li{
      margin-bottom: 60px;
      overflow: hidden;
      margin: 0;
      position: relative;
      .timeline-date {
        width: 110px;
        float: left;
      }
      .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
      }
      .timeline-content:before {
        content: "";
        width: 12px;
        height: 12px;
        background: #6fc173;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
      }
    }
  }
}
