#user_category_form{
  max-width: 100%;
  margin: 25px auto;
  height: auto;
  position: relative;
  top: 55px;
  #category_form{
    position: relative;
    margin: 20px auto;
  }
  #button_start{
    width: 134px;
    height: 35px;
  }
}
