#words-container {
  display: block;
  width: 100%;
  height: 500px;
  margin: 50px auto auto auto;
  position: relative;
  .word {
    display: block;
    float: left;
    width: 200px;
    border: 1px solid black;
    margin: 20px;
    background-color: #debfbf;
    .word-question {
      display: block;
      background-color: #FFF;
      padding: 5px;
    }
    .word-answer {
      display: block;
      background-color: #BADDCD;
      padding: 5px;
    }
    .word-action {
      text-align: center;
      display: block;
      position: relative;
      padding: 5px;
      .edit-btn {
        float: left;
        margin-right: 10px;
      }
      .delete-btn {
        float: left;
      }
    }
  }
}

#filter-form {
  margin-top: 50px;
}

.user-filter-word {
  margin: 50px;
  .filter-by {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
}

#new-word {
  margin-right: 150px;
}

.pagination-container {
  margin-left: 100px;
}


